body{
    cursor: none;
}

.contact-container {
    background: linear-gradient(to bottom, #000000 20%, #1f4d81 50%, #000000 100%);
    min-height: 100vh; 
    margin: 0;
    padding: 0;
  
   
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}
.contact-content h1,p{
    margin-bottom: 40px;
    text-align: center;
}
.form-content {

    background-color:white;
    opacity: 0.8;
    padding: 50px;
    border-radius: 30px;
    margin: 30px;
    max-width: 1000px;

}

.form-content h2, .form-content p {
    color:#1f4d81; 
    text-align: center; 

}

.contact-input,
.form-content textarea {
    
    width: 100%; 
    padding: 19px;
  margin-bottom: 15px;

    font-size: 16px;
    border: 2px solid #1f4d81;
    border-radius: 10px;
}
.contact-input {
    visibility: visible;
}

.form-content input:focus,
.form-content textarea:focus {
    border-color: #6096D9; 
    outline: none; 
}

.form-content textarea {
    resize: none; 
}

.form-content button {
    background-color:#6096D9;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
    
}

.form-content button:hover {
    background-color: #1f4d81; 
}


.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: rgba(10, 198, 230, 1); /* Darker for visibility */
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); /* Center relative to the cursor position */
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}

.cursor-outline {
    width: 60px;
    height: 60px;
    border: 2px solid rgba(10, 198, 230, 0.4); /* Semi-transparent border */
    background-color: rgba(10, 198, 230, 0.1); /* Light transparent fill */
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); /* Center relative to the cursor position */
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    transition: transform 0.2s ease-out; /* Smooth trailing effect */
    overflow: visible; /* Ensure scaling doesn't hide animation */
}
