/*footer*/
footer{
   
   
    padding: 20px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content p,h2{
    text-align: center;
    width: 40%;
    padding-top: 10px;
}

.footer-bottom span{
    color:#6096D9;
}
.footer-bottom{
  padding-top: 20px;
    text-align: center;
}