.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    padding: 30px;
    background-color:black;
    
    
  
  }
  .navbar h1{
    color: #ffffff;
  }
  .nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  .nav-list li {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color:#ffffff;
    transition: color 0.3s ease;
  }
  
  .nav-list a:hover {
    color: #6096D9;
  }
  
  .nav-list a.active {
    color: #6096D9;
     text-decoration: underline;
    padding: 10px;
  
  
  }
  @media screen and (max-width: 623px) {
    .navbar {
      flex-direction: column; 
      align-items: center; 
  gap: 40px;
    }
  
    .nav-list {
      flex-direction: column; 
   
      justify-content: center;
      align-items: center;
     
    }
  
    .nav-list li {
      margin-left: 0; 
      font-size: 18px;
    }
  }