*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
  --container-background-color:#000000;
  --text-color:white;
  --text-gradient-color:linear-gradient(to right, #FFFFFF 10%, #6096D9 25%, #1f4d81 70%);
}
.light{
  --container-background-color:#fcfcfc;
  --text-color:#1f4d81;
  --text-gradient-color:linear-gradient(to right, #000000 10%, #6096D9 25%, #1f4d81 70%);
  
}
body{
    background-color:var(--container-background-color);
    color: white;
}
body.dark-mode .main-container {
  background-color: #333;
  color: #ddd;
}

p{
    line-height: 1.5;

    font-size: 20px;
    color: var(--text-color);
}


