*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
p{
    line-height: 1.5;

    font-size: 20px;
    color: white;
}
h2 {
    margin-bottom: 10px;
    font-size: 40px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #FFFFFF 10%, #6096D9 25%, #1f4d81 70%);

  
    background-clip: text; /* For other browsers */
    color: transparent; /* to show the gradient */
    font-weight: bold;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  p.light-mode{
    color: #1f4d81;
  }
  h2.light-mode {
 
    background: linear-gradient(to right, #000000 10%, #6096D9 25%, #1f4d81 70%);
  }